@media (max-width: 1300px) {
  .container {
    max-width: 696px;
  }

  .home {
    padding: 41px 0 40px 0;
  }

  .home__title {
    font-size: 45px;
  }

  .capability__comment {
    display: none;
  }

  .capability__holder {
    margin-top: 40px;
    gap: 20px;
    flex-wrap: wrap;
  }
}

@media (max-width: 770px) {
  .home__title {
    font-size: 30px;
    font-weight: 500;
  }

  .home__subtitle {
    font-size: 12px;
  }

  .story__right {
    display: none;
  }

  .story__left {
    margin: 45px auto 0;
    text-align: center;
  }

  .capability__holder {
    gap: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media (max-width: 566px) {
  .header__wrapper {
    position: relative;
  }

  .header__right {
    display: none;
  }

  .burger {
    display: block;
  }

  .capability__title {
    /* font-size: 14px; */
  }

  .capability__btn {
    font-weight: 500;
  }
}

@media (max-width: 450px) {
  .capability__btn {
    display: none;
  }
}
