.burger {
  display: none;
}

.burger__open {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 24px;
  height: 24px;
  z-index: 8;
}

.burger__close {
  position: absolute;
  top: 30px;
  right: 10px;
}

.checkbox {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 15;
  opacity: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.checkbox:checked ~ .burger__menu {
  transform: none;
}

.checkbox:checked {
  position: fixed;
  top: 30px;
  right: 10px;
}

.burger__menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 70vw;
  height: 100vh;
  background: lightgray;
  z-index: 12;
  transform: translateX(200%);
  transition: 0.5s all;
  padding: 20px 10px 0;
}

.burger__item {
  display: block;
  padding: 12px 10px;
  color: #fff;
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.091px;
  transition: 0.5s all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.burger__item:hover {
  color: #00a4e5;
}
